<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isSearchbarOpened">
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened"> </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

-->

<ion-header>
  <ion-title>
    <div align="center">
      <p style="font-family: Poppins; font-size: 25px; color: #eb3333"> browse </p>
    </div>
  </ion-title>
  <ion-searchbar style="font-family: Poppins" [(ngModel)]="searchText" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-header>

<ion-content padding style="background-color: #EEEEEE">
  <ion-list>
    <ion-item *ngFor="let charity of charities">
      <ion-card (click)="navigateToCharity(charity)">
        <img src="{{charity.charitycardimg}}" />
        <ion-card-content>
          <ion-card-title>
            <font style="font-family: Poppins">{{ charity.name }}</font>
          </ion-card-title>
          <p>
            <font style="font-family: Poppins"> {{ charity.logo }}</font>
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='star'></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='heart'></ion-icon>
              Donate
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>


  </ion-list>
  <br>
  <br>
  <br>
  <br>
  <div align="center">
    <ion-img width="300" height="300" src="http://bestdayevereducation.com/uploads/images/Gifs/No-Background/Tucan.gif"></ion-img>
  </div>

</ion-content>