page-profile {

    .chart-wrapper {
       width: 85%;
       display: inline-block;
    }
 
 
    canvas  {
       height: 500px;
    }

    div {
        background-color: inherit;
        border: 0px;
    }
      
      
    ion-card-content {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        border-top: 3px solid #eb3333;
        border-bottom: 3px solid #eb3333;
    }

 
 }
