page-breakdown {

    .chart-wrapper {
       width: 95%;
       display: inline-block;
       margin: 1em 1em;
       padding-top: 0;
    }
 
 
    canvas  {
       height: 450px;
    }
 
    ion-card-content {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        border-top: 3px solid #eb3333;
        border-bottom: 3px solid #eb3333;
    }
 }