<!--
  Generated template for the CharityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div align="center">
        <!-- <img src="https://static1.squarespace.com/static/530fd993e4b013842a38f1fd/t/53633a4ae4b0e2e552373eb5/1399011915390/fdgfdgdfgfd.png?format=300w" alt="logo"/> -->
        <h1 style="font-family: Poppins; font-size: 15px; color: #eb3333"> {{charity.name}} </h1>
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color:whitesmoke">

  <div align="center">
      <ion-img width="200" height="150" src="{{charity.charitycardimg}}"></ion-img><br>
      <button ion-button round (click)="favorite()"><ion-icon name="star"></ion-icon></button>
  </div>

  <br>
  <div>
    <ion-card-content>
      <ion-card-header align="center" color="charity">
        <font style="font-family: Poppins" size="4">
          <b>Our Mission</b>
        </font>
      </ion-card-header>
      <font style="font-family: Poppins; color: #626262" size="3.5">
        <p padding-right="5" padding-left="5">{{charity.description}}</p>
      </font>
    </ion-card-content>
  </div>

  <br>
  <div>
    <ion-card-content>
      <ion-card-header align="center" padding-top="2" padding-bottom="2" color="charity">
        <font style="font-family: Poppins" size="4">
          <b>Contact Us</b>
        </font>
      </ion-card-header>
      <font style="font-family: Poppins; color:#626262" size="3.5">
        <p padding-right="5" padding-left="5">
          <a href="{{charity.website}}"></a>{{charity.website}}</p>
      </font>
    </ion-card-content>
  </div>

  <br>
  <div>
    <ion-card-content>
      <ion-item>
        <ion-card-header align="center" color="charity">
          <font style="font-family: Poppins" size="4">
            <b>Projects</b>
          </font>
        </ion-card-header>
        <ion-slides>

          <ion-card *ngIf="charProjects.length == 0">
            <ion-item>
              no current projects :(
            </ion-item>
          </ion-card>

          <ion-slide *ngFor="let project of charProjects">
            
            <ion-card>
              <ion-item>
                <ion-avatar item-start>
                  <img src="https://www.publicdomainpictures.net/pictures/60000/velka/toucan-bird-silhouette-clipart.jpg" />
                </ion-avatar>
                <h2 class="card-title" align="center">
                  {{project.title}}
                </h2>
              </ion-item>

              <ion-item>
                <img src={{project.projectimg}}/>
              </ion-item>
              <ion-item>

                <div class="card-subtitle">{{project.description}}</div>
              </ion-item>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </ion-card-content>
  </div>


  <br>
  <div align="center">
    <button ion-button round outline color="danger" (click)="navigateToPayment()" icon-start>
      <font style="font-family: Poppins">Donate Now!&ensp;</font>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>




</ion-content>