page-charity {

    ion-card-content {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        border-top: 3px solid #eb3333;
        border-bottom: 3px solid #eb3333;
        margin: 0 !important;
        padding: 0 !important;
    }

    // .header img {
    //     float: left;
    //     width: 40px;
    //     height: 40px;
    //   }
      
    //   .header h1 {
    //     position: relative;
    //     top: 18px;
    //     left: 10px;
    //   }

}
